<footer class="container-fluid footer fixed-bottom navbar-dark bg-dark text-white py-3">
    <div class="row">
        <div class="col-12 col-md pl-5">
            <span>&copy; Copyright {{getCurrentYear()}}</span>
        </div>
        <div class="col-12 col-md">
            
        </div>
        <div class="col-12 col-md">
            
        </div>
        <div class="col-12 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class=" text-white" href="#">Team</a></li>
                <li><a class=" text-white" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>