
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
    transition: 1s;
}