<!--
<div class="container-fluid">
    <div class="row">
        <div class="col">
            Flüge
        </div>
        <div class="col">
            Unterkünfte
        </div>
        <div class="col">
            Mietwagen
        </div>
        <div class="col">
            Reisen
        </div>
    </div>
</div>
-->

<div class="container">
        <div class="list-topics-content">
            <ul>
                <li>
                    <div class="">
                        <div class="">
                                <i class="fas fa-plane"></i>Flight
                        </div>
                        <h2><a href="#">resturent</a></h2>
                        <p>150 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="travel"></i>
                        </div>
                        <h2><a href="#">destination</a></h2>
                        <p>214 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="building"></i>
                        </div>
                        <h2><a href="#">hotels</a></h2>
                        <p>185 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="pills"></i>
                        </div>
                        <h2><a href="#">healthcaree</a></h2>
                        <p>200 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-transport"></i>
                        </div>
                        <h2><a href="#">automotion</a></h2>
                        <p>120 listings</p>
                    </div>
                </li>
            </ul>
        </div>
    </div><!--/.container-->