<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                <input type="text" class="form-control search-slt" placeholder="Von wo?">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                <input type="text" class="form-control search-slt" placeholder="Wohin?">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                <!--<ngb-datepicker #d></ngb-datepicker>-->
                <input type="date" class="form-control search-slt" placeholder="Hinreise">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                <input type="date" class="form-control search-slt" placeholder="Rückreise">
                <!--<ngb-datepicker #d></ngb-datepicker>-->
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                <select class="form-control search-slt" id="exampleFormControlSelect1">
                    <option>Personen</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                <button type="button" class="btn btn-warning wrn-btn">Finde</button>
            </div>
        </div>
    </div>
</div>